.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #333;
  }
  
  .tab button {
    background-color: #3F2B96;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #4E37B2;
  }
  
  .tab button.active {
    background-color: #4E37B2;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f1f1f1;
  }
  
  .tabcontent h3 {
    color: #3F2B96;
  }
  a {
    display: inline-block;
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  a {
    display: inline-block;
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
   a:hover {
    background-color: #c0392b;
  }
  
  a {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
   
  